# List 
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ['Zia' , 'Qasim' , "Tayyab"]
print(names)

['Zia', 'Qasim', 'Tayyab']

'''
names = ['Zia' , 'Qasim' , "Tayyab"]

for(i=0 ; i<length(names); i++){
names[i]
}
'''

In [7]:
names : list[str] = ['Zia' , 'Qasim' , "Tayyab"]
for name in names:  # for is for iteration
    print(name)

Zia
Qasim
Tayyab

In [8]:
names = ['Zia' , 'Qasim' , "Tayyab"]
i:int = 0  # counter = 0
while i<len(names):  # names length = 3
    print(names[i])
    i += 1

Zia
Qasim
Tayyab

In [9]:
names : list[str] = ['Zia' , 'Qasim' , "Tayyab"]
for name in names: # for is for iteration
    print(f'Welcome dear Teacher {name.title()}')

Welcome dear Teacher Zia
Welcome dear Teacher Qasim
Welcome dear Teacher Tayyab

In [11]:
names : list[str] = ['Zia' , 'Qasim' , "Tayyab"]
for name in names: # for is for iteration
    print(f'Welcome dear Teacher {name.title()}')
    print("PIAIC Gen Ai Team\n")

Welcome dear Teacher Zia
PIAIC Gen Ai Team

Welcome dear Teacher Qasim
PIAIC Gen Ai Team

Welcome dear Teacher Tayyab
PIAIC Gen Ai Team

In [17]:
names : list[str] = ['Zia' , 'Qasim' , "Tayyab"]
for name in names: # for is for iteration
    print(f'Welcome dear Teacher {name.upper()}')
    print("PIAIC Gen Ai Team\n")

print("Loop Finished because intendation is removed so this print is removed from the loop")

Welcome dear Teacher ZIA
PIAIC Gen Ai Team

Welcome dear Teacher QASIM
PIAIC Gen Ai Team

Welcome dear Teacher TAYYAB
PIAIC Gen Ai Team

Loop Finished because intendation is removed so this print is removed from the loop

In [13]:
data_base: list[tuple[str, str]] = [("Qasim", '123'),
                                    ("sir zia", '567'), ("ikhlas", '342')]
for row in data_base:
    print(row)

('Qasim', '123')
('sir zia', '567')
('ikhlas', '342')

In [14]:
data_base: list[tuple[str, str]] = [("Qasim", '123'),
                                    ("sir zia", '567'), ("ikhlas", '342')]
for row in data_base:
    user, password = row
    print(user, password)

Qasim 123
sir zia 567
ikhlas 342

In [16]:
data_base: list[tuple[str, str]] = [("Qasim", '123'),
                                    ("sir zia", '567'), ("ikhlas", '342')]
input_user : str = input("Enter user name")
input_password : str = input("Enter password")
for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("valid User")
        break
else:
    print("Invalid user name")

Enter user name ikhlas
Enter password 342

valid User

# Difference Between else and without else

names : list[str] = ['Zia' , 'Qasim' , "Tayyab"]
for name in names:
    print(name)
    break
print("Hello World")

In [19]:
names : list[str] = ['Zia' , 'Qasim' , "Tayyab"]
for name in names:
    print(name)
    break
else:
    print("Hello World")

Zia

In [25]:
magicians = ["alice", "david" , "carolian"]
list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolian')]

In [27]:
magicians = ["alice", "david" , "carolian"]

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolian

# Number with Loop
 * range(start,end,step)

In [20]:
range(10)

range(0, 10)

In [21]:
list(range(10))  # starting = 0 , ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [24]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [28]:
for n in range(1,11):
    print(f'{2} X {n} = {n*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [29]:
squares = []
for value in range(1,11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehensive
```
for item in items_list:
loop_body
```


### Comprehensive Style

```
[loop_body for item in items_list]
```

In [30]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [32]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# difference btw print and wihtout print value

In [33]:
"line1"
"line2"
"line3"

'line3'

In [34]:
print("line1")
print("line2")
print("line3")

line1
line2
line3

# Tuples

In [35]:
names : tuple[str] = ('a','b','c')
print(names[0])
print(names[0:2])

a
('a', 'b')

In [36]:
names : tuple[str] = ('a','b','c')
names[0] = "d"

TypeError: 'tuple' object does not support item assignment

In [37]:
from typing import Any
data : tuple[Any] = ('a', 2 , True)
print(data)

('a', 2, True)

In [40]:
from typing import Any
data : tuple[Any] = ('a', 2 , True)

print(data[1])
data[1].append(2)
print(data)

2

AttributeError: 'int' object has no attribute 'append'

In [41]:
from typing import Any
data : tuple[Any] = ('a', [2,3,4] , True)

print(data[1])
data[1].append(2)
print(data)

[2, 3, 4]
('a', [2, 3, 4, 2], True)