# String Data type in Python

In [27]:
message : str = 'PIAIC student card \n father's name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (158095321.py, line 1)

In [ ]:
message : str = "PIAIC student card \n father's name"
print(message)

PIAIC student card
 father's name

In [ ]:
message : str = 'PIAIC "student card" \n father name'
print(message)

PIAIC "student card"
 father name

In [ ]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC student card \nFather\'s name'
print(message)

PIAIC student card
Father's name

In [ ]:
"a" + "b" + "c"

'abc'

In [ ]:
"a" + 7

TypeError: can only concatenate str (not "int") to str

In [28]:
"a" + str(7)

'a7'

In [32]:
#boundries
#'string text' , "string text" , '''string text''',"""string text"""
#`string text` using backticks
name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "master in mathematics"
age : int = 26

card : str = "PIAIC Student Card\nStudent Name: " + name +\
      "\nAge:" + "\n" + str(age)
print(type(name))
print(card)

<class 'str'>
PIAIC Student Card
Student Name: Muhammad Ahmad
Age:
26

In [13]:
#using 'string text'
name : str = 'Muhammad Ahmad'
print(type(name))
print(name)

<class 'str'>
Muhammad Ahmad

# "\ " line continue

it is used to continue same line in the next line

In [29]:
print(7 + 8 + 2)

17

In [30]:
print(7 + \
      + 8 \
        + 2)

17

# Define multiline string """ """, ''' '''

we know our code will be massie if we add "\" to break the line to organize our code. To overcome this problem we use multiline string

In [34]:
name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "Master in mathematics"
age : int = 26

card : str = """ 
PIAIC Student Card
Student Name : 
Father's Name : 
Age : 
Education : 
"""



print(card)

PIAIC Student Card
Student Name : ....
Father's Name : ....
Age : ....
Education : ....

# F string

In fstring we dont need to do concatenation or using str(7) to change number into string and we always use after = sign

note: we can't use backticks here

In [35]:
name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "Master in Mathematics"
age : int = 26

card : str = f""" 
PIAIC Student Card
Student Name : {name}
Father's Name : {fname}
Age : {age}
Education : {education}
"""



print(card)

PIAIC Student Card
Student Name : Muhammad Ahmad
Father's Name : Muhammad Ali
Age : 26
Education : Master in mathematics

In [37]:
# we can perform any task inside multiline string

name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "Master in Mathematics"
age : int = 26

card : str = f""" 
PIAIC Student Card
Student Name : {name}
Father's Name : {fname}
Age : {age}
Education : {education}


total {2 + 4 + 6}
"""



print(card)

PIAIC Student Card
Student Name : Muhammad Ahmad
Father's Name : Muhammad Ali
Age : 26
Education : Master in Mathematics


total 12

# F-String and Jija style

In [38]:
f"""
student name {name}

"""

'\nstudent name Muhammad Ahmad\n\n'

In [ ]:
# Jinja Style
"""
student name {{name}}

"""

In [41]:
#ANOTHER METHOD FOR TYPECASTING %S FOR STRING %D FOR INTEGER 
# we use this type of casting in css language

name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "Master in Mathematics"
age : int = 26


card : str = f""" 
PIAIC Student Card
Student Name : %s
Father's Name : %s 
Age : %d
Education : %s 
"""  % (name , fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Ahmad
Father's Name : Muhammad Ali
Age : 26
Education : Master in Mathematics

In [42]:
[i for i in dir(str) if "__" in i]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [43]:
name : str = "MuHamMad AhMAd"
print(name.capitalize())
print(name.casefold())

Muhammad ahmad
muhammad ahmad

In [45]:
a = 7
b = 6

# {} place holder
"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 6'

In [48]:
# we can use placeholder instead f-string but the indexes changes the values

name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "Master in Mathematics"
age : int = 26

card : str = """ 
PIAIC Student Card
Student Name : {}
Father's Name : {}
Age : {}
Education : {}
""".format(fname, name, education, age)



print(card)

PIAIC Student Card
Student Name : Muhammad Ahmad
Father's Name : Muhammad Ali
Age : 26
Education : Master in Mathematics

In [50]:
# here we can give index number inside placeholder 

name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "Master in Mathematics"
age : int = 26

card : str = """ 
PIAIC Student Card
Student Name : {1}
Father's Name : {0}
Age : {3}
Education : {2}
""".format(fname, name, education, age)



print(card)

PIAIC Student Card
Student Name : Muhammad Ahmad
Father's Name : Muhammad Ali
Age : 26
Education : Master in Mathematics

In [52]:


name : str = "Muhammad Ahmad"
fname : str = "Muhammad Ali"
education :str = "Master in Mathematics"
age : int = 26

card : str = """ 
PIAIC Student Card
Student Name : {a}
Father's Name : {b}
Age : {c}
Education : {d}
""".format(b=fname, a=name, c=education, d=age)



print(card)

PIAIC Student Card
Student Name : Muhammad Ahmad
Father's Name : Muhammad Ali
Age : Master in Mathematics
Education : 26

In [54]:
student_code : str = """
print("MUhammad Ahmad")
a:int = 7
b:int = 7
print(a+b)



"""
exec(student_code)

MUhammad Ahmad
14

# Explore String Methods and attributes

pre-define global function we have
* print
* type
* dir
* id
* len

In [55]:
a: list[str] = [i for i in dir(str) if "__" in i]
print(a)
print(len(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']
34

In [ ]:
name : str = "MUhAMmad AhmAD"
print(name.capitalize())

In [ ]:
name : str = "MUhAMmad AhmAD"
print(name)
print(name.casefold)

In [58]:
name : str = "                  MUhAMmad AhmAD                    "
display(name)
display(name.lstrip())

'                  MUhAMmad AhmAD                    '

'MUhAMmad AhmAD                    '

In [59]:
name : str = "                  MUhAMmad AhmAD                    "
display(name)
display(name.rstrip())

'                  MUhAMmad AhmAD                    '

'                  MUhAMmad AhmAD'

In [61]:
name : str = "                  MUhAMmad        AhmAD                    "
display(name)
display(name.strip())

'                  MUhAMmad        AhmAD                    '

'MUhAMmad        AhmAD'

In [69]:
import re


name : str = "                  MUhAMmad            AhmAD                    "
display(name)
name1 : str = re.sub('  {2,100}','', name).strip()

display(name1)

'                  MUhAMmad            AhmAD                    '

'MUhAMmadAhmAD'

In [ ]:
\n
\t 
\b

In [70]:
print("Name:\t\t MUhammad Ahmad")

Name:		 MUhammad Ahmad

In [72]:
print("Name:\nMUhammad Ahmad")

Name:
MUhammad Ahmad

In [75]:
print("Name:\b MUhammad Ahmad")

Name MUhammad Ahmad

In [76]:
nostarch_url : str = "https://nostarch.com"
nostarch_url.removeprefix("https://")

'nostarch.com'

In [77]:
piaic_student_name : str = "Muhammad Ahmad"
print(piaic_student_name)

Muhammad Ahmad