# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [1]:
#!pip install lxml

Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/77/e5/1f23e56678244258483521872507d64130cac9466902aca3f3141b8fb06b/lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 220.2 kB/s eta 0:00:17
   ---------------------------------------- 0.0/3.8 MB 219.4 kB/s eta 0:00:18
   - -------------------------------------- 0.1/3.8 MB 469.7 kB/s eta 0:00:08
   - -------------------------------------- 0.2/3.8 MB 573.4 kB/s eta 0:00:07
   -- ------------------------------------- 0.2/3.8 MB 622.7 kB/s eta 0:00:06
   -- ------------------------------------- 0.2/3.8 MB 626.9 kB/s eta 0:00:06
   -- ------------------------------------- 0.3/3.8 MB 605.3 kB/s eta 0:00:06
   -- ------------------------------------- 0.3/3.8 MB 609.2 kB/s eta 0:00:06
   --- ------------------------------------ 0.3/3.8 MB 593.9 kB/s eta 0:00:06
   --- ------------------------------------ 0.3/3.8 MB 600.1 kB/s eta 0:00:06
   --- ------------------------------------ 0.4/3.8 MB 602.4 kB/s eta 0:00:06
   ---- ----------------------------------- 0.4/3.8 MB 608.0 kB/s eta 0:00:06
   ---- ----------------------------------- 0.4/3.8 MB 595.2 kB/s eta 0:00:06
   ---- ----------------------------------- 0.5/3.8 MB 613.3 kB/s eta 0:00:06
   ----- ---------------------------------- 0.5/3.8 MB 603.1 kB/s eta 0:00:06
   ----- ---------------------------------- 0.5/3.8 MB 604.6 kB/s eta 0:00:06
   ----- ---------------------------------- 0.5/3.8 MB 608.0 kB/s eta 0:00:06
   ----- ---------------------------------- 0.6/3.8 MB 600.4 kB/s eta 0:00:06
   ------ --------------------------------- 0.6/3.8 MB 603.0 kB/s eta 0:00:06
   ------ --------------------------------- 0.6/3.8 MB 604.2 kB/s eta 0:00:06
   ------ --------------------------------- 0.6/3.8 MB 607.0 kB/s eta 0:00:06
   ------- -------------------------------- 0.7/3.8 MB 600.2 kB/s eta 0:00:06
   ------- -------------------------------- 0.7/3.8 MB 602.4 kB/s eta 0:00:06
   ------- -------------------------------- 0.7/3.8 MB 603.9 kB/s eta 0:00:06
   -------- ------------------------------- 0.8/3.8 MB 598.0 kB/s eta 0:00:06
   -------- ------------------------------- 0.8/3.8 MB 600.5 kB/s eta 0:00:05
   -------- ------------------------------- 0.8/3.8 MB 601.4 kB/s eta 0:00:05
   -------- ------------------------------- 0.8/3.8 MB 603.2 kB/s eta 0:00:05
   --------- ------------------------------ 0.9/3.8 MB 598.6 kB/s eta 0:00:05
   --------- ------------------------------ 0.9/3.8 MB 599.9 kB/s eta 0:00:05
   --------- ------------------------------ 0.9/3.8 MB 601.6 kB/s eta 0:00:05
   ---------- ----------------------------- 1.0/3.8 MB 597.0 kB/s eta 0:00:05
   ---------- ----------------------------- 1.0/3.8 MB 598.6 kB/s eta 0:00:05
   ---------- ----------------------------- 1.0/3.8 MB 593.6 kB/s eta 0:00:05
   ---------- ----------------------------- 1.0/3.8 MB 601.3 kB/s eta 0:00:05
   ----------- ---------------------------- 1.1/3.8 MB 602.7 kB/s eta 0:00:05
   ----------- ---------------------------- 1.1/3.8 MB 599.0 kB/s eta 0:00:05
   ----------- ---------------------------- 1.1/3.8 MB 599.4 kB/s eta 0:00:05
   ------------ --------------------------- 1.1/3.8 MB 601.4 kB/s eta 0:00:05
   ------------ --------------------------- 1.2/3.8 MB 602.7 kB/s eta 0:00:05
   ------------ --------------------------- 1.2/3.8 MB 599.0 kB/s eta 0:00:05
   ------------- -------------------------- 1.2/3.8 MB 600.0 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.8 MB 601.2 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.8 MB 602.4 kB/s eta 0:00:05
   ------------- -------------------------- 1.3/3.8 MB 599.0 kB/s eta 0:00:05
   -------------- ------------------------- 1.4/3.8 MB 600.5 kB/s eta 0:00:05
   -------------- ------------------------- 1.4/3.8 MB 600.7 kB/s eta 0:00:05
   -------------- ------------------------- 1.4/3.8 MB 597.9 kB/s eta 0:00:04
   --------------- ------------------------ 1.4/3.8 MB 603.4 kB/s eta 0:00:04
   --------------- ------------------------ 1.5/3.8 MB 600.6 kB/s eta 0:00:04
   --------------- ------------------------ 1.5/3.8 MB 600.9 kB/s eta 0:00:04
   ---------------- ----------------------- 1.5/3.8 MB 602.1 kB/s eta 0:00:04
   ---------------- ----------------------- 1.5/3.8 MB 603.3 kB/s eta 0:00:04
   ---------------- ----------------------- 1.6/3.8 MB 600.3 kB/s eta 0:00:04
   ----------------- ---------------------- 1.6/3.8 MB 601.4 kB/s eta 0:00:04
   ----------------- ---------------------- 1.6/3.8 MB 601.9 kB/s eta 0:00:04
   ----------------- ---------------------- 1.6/3.8 MB 599.3 kB/s eta 0:00:04
   ----------------- ---------------------- 1.7/3.8 MB 603.9 kB/s eta 0:00:04
   ------------------ --------------------- 1.7/3.8 MB 601.5 kB/s eta 0:00:04
   ------------------ --------------------- 1.7/3.8 MB 601.7 kB/s eta 0:00:04
   ------------------ --------------------- 1.8/3.8 MB 603.0 kB/s eta 0:00:04
   ------------------- -------------------- 1.8/3.8 MB 603.8 kB/s eta 0:00:04
   ------------------- -------------------- 1.8/3.8 MB 601.2 kB/s eta 0:00:04
   ------------------- -------------------- 1.9/3.8 MB 602.2 kB/s eta 0:00:04
   ------------------- -------------------- 1.9/3.8 MB 602.5 kB/s eta 0:00:04
   -------------------- ------------------- 1.9/3.8 MB 600.3 kB/s eta 0:00:04
   -------------------- ------------------- 1.9/3.8 MB 604.2 kB/s eta 0:00:04
   -------------------- ------------------- 2.0/3.8 MB 602.2 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 602.4 kB/s eta 0:00:03
   --------------------- ------------------ 2.0/3.8 MB 603.4 kB/s eta 0:00:03
   --------------------- ------------------ 2.1/3.8 MB 604.1 kB/s eta 0:00:03
   --------------------- ------------------ 2.1/3.8 MB 601.6 kB/s eta 0:00:03
   ---------------------- ----------------- 2.1/3.8 MB 602.5 kB/s eta 0:00:03
   ---------------------- ----------------- 2.1/3.8 MB 603.2 kB/s eta 0:00:03
   ----------------------- ---------------- 2.2/3.8 MB 603.9 kB/s eta 0:00:03
   ----------------------- ---------------- 2.2/3.8 MB 604.4 kB/s eta 0:00:03
   ----------------------- ---------------- 2.2/3.8 MB 602.5 kB/s eta 0:00:03
   ----------------------- ---------------- 2.3/3.8 MB 603.2 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 603.5 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 604.3 kB/s eta 0:00:03
   ------------------------ --------------- 2.3/3.8 MB 602.4 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 603.0 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 603.4 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 604.0 kB/s eta 0:00:03
   ------------------------- -------------- 2.4/3.8 MB 602.4 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 602.9 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 603.2 kB/s eta 0:00:03
   -------------------------- ------------- 2.5/3.8 MB 603.9 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 602.2 kB/s eta 0:00:03
   --------------------------- ------------ 2.6/3.8 MB 605.2 kB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 603.2 kB/s eta 0:00:02
   ---------------------------- ----------- 2.6/3.8 MB 603.7 kB/s eta 0:00:02
   ---------------------------- ----------- 2.7/3.8 MB 604.5 kB/s eta 0:00:02
   ---------------------------- ----------- 2.7/3.8 MB 604.8 kB/s eta 0:00:02
   ---------------------------- ----------- 2.7/3.8 MB 603.3 kB/s eta 0:00:02
   ----------------------------- ---------- 2.8/3.8 MB 603.8 kB/s eta 0:00:02
   ----------------------------- ---------- 2.8/3.8 MB 604.3 kB/s eta 0:00:02
   ----------------------------- ---------- 2.8/3.8 MB 604.8 kB/s eta 0:00:02
   ------------------------------ --------- 2.8/3.8 MB 605.2 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 603.6 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 604.2 kB/s eta 0:00:02
   ------------------------------- -------- 2.9/3.8 MB 604.7 kB/s eta 0:00:02
   ------------------------------- -------- 3.0/3.8 MB 604.9 kB/s eta 0:00:02
   ------------------------------- -------- 3.0/3.8 MB 603.6 kB/s eta 0:00:02
   -------------------------------- ------- 3.0/3.8 MB 604.0 kB/s eta 0:00:02
   -------------------------------- ------- 3.0/3.8 MB 604.4 kB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 605.0 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 605.4 kB/s eta 0:00:02
   --------------------------------- ------ 3.1/3.8 MB 605.7 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 604.4 kB/s eta 0:00:02
   --------------------------------- ------ 3.2/3.8 MB 604.9 kB/s eta 0:00:01
   ---------------------------------- ----- 3.2/3.8 MB 605.2 kB/s eta 0:00:01
   ---------------------------------- ----- 3.2/3.8 MB 605.6 kB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 604.2 kB/s eta 0:00:01
   ----------------------------------- ---- 3.3/3.8 MB 604.7 kB/s eta 0:00:01
   ----------------------------------- ---- 3.3/3.8 MB 605.0 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 605.4 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 604.2 kB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 604.6 kB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 604.9 kB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 605.3 kB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 604.0 kB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 604.4 kB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 606.5 kB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 605.3 kB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 605.7 kB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 605.9 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 606.3 kB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 605.1 kB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 605.5 kB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 605.8 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 603.6 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

In [2]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [3]:
a = 3
b = 5
print(a + b)

8

In [4]:
a = 3
b = 5
print(a - b)

-2

In [5]:
a = 3
b = 5
print(a * b)

15

In [8]:
a = 3
b = 5
print(b % a)

2

In [6]:
a = 3
b = 5
print(a / b)

0.6

In [2]:
a = 3
b = 5
print(a ** b)

243

In [4]:
a = 3
b = 5
print(a // b)
print(4 // 2)
print(14 / 3)
print(14 // 3)

0
2
4.666666666666667
4

# Python Assignment Operator

In [7]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [9]:
# = assign
a : int = 10
b : int = 8

# +=
a+=2
print(a)

12

In [10]:
# -=

a : int = 5
a-=5
print(a)

0

In [11]:
# *=
a : int = 5
a*=5
print(a)

25

# Python Comparison Operator

In [3]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [5]:
a : int = 3
b : int = 5
c : str = '5'

print(a == b)
print(a == c)

False
False

In [6]:
a : int = 5
b : int = 5

print(a != b)

False

In [9]:
a : int = 3
b : int = 5

print(a > b)
print(a < b)
print(a <= b)
print(a >= b)

False
True
True
False

# Python Logical Operators

In [10]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [14]:
a : int = 10
b : int = 11
# and = must
print(a > 7 and b > 10)

True

In [15]:
a : int = 10
b : int = 11
# or = optional
print(a > 13 or b > 10)

True

In [27]:
a : int = 10
b : int = 11

print(not a > 7 and b > 10)
print(not a==b)

False
True

# ASCII Code
''' A = 65
Z = 90

a = 97 
z = 122

0=48
0=57

In [17]:
a : str = 'A'
b : str = 'B'

print(a < b)

True

In [18]:
a : str = 'A'
b : str = 'a'

print(a < b)

True

In [25]:
chr(66)

'B'

In [24]:
ord('A')

65

# Python Identity Operators

In [28]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [34]:
x : str = 'abc'
z : str = 'def'
# backend value is different
print(id(x))
print(id(z))

140718926860552
1774839009360

In [30]:
x : str = 'abc'
z : str = 'def'
print(x is z)
print(x is not z)

False
True

# Python Membership Operators

In [35]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [39]:
names: list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [38]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
         print("True")
         break

0 A
1 B
2 C
3 D
True

In [40]:
names: list[str] = [chr(i) for i in range(65,91)]
"D" in names

True

In [41]:
names: list[str] = [chr(i) for i in range(65,91)]
"Pakistan" in names

False

In [42]:
names: list[str] = [chr(i) for i in range(65,91)]
"D" not in names

False

In [2]:
names : list[str] = ['Muhammad Ahmad' , 'Qasim' , 'Miss Anum' , 'Sir Zia']
uinput : str = input("Enter your name")

uinput in names

True

In [3]:
names : list[str] = ['Muhammad Ahmad' , 'Qasim' , 'Miss Anum' , 'Sir Zia']
uinput : str = input("Enter your name")

uinput not in names

True

# Python Precedance Operators

<img src='https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg'>

# PEMDAS

In [5]:
print(3 + 2 -2 * 9/3 + 5)

4.0

In [6]:
# unzip

#0   1   2   0    1    2
a , b , c = 'a' , 7 , 3.0

print(a)
print(b)
print(c)

a
7
3.0

In [7]:
a , b , c = ('a' , 7 , 3.0)
print(a)
print(b)
print(c)

a
7
3.0

In [8]:
data = ('a' , 7 , 3.0)
print(data[0] , data[1] ,data[2])

a 7 3.0

In [9]:
data = ('a' , 7 , 3.0)
print(*data)

a 7 3.0

In [11]:
2 * 2
# 4 
"a" * 3

'aaa'

In [ ]:
# abdcgdeet

# code will be commented if you press ctrl + /

# Walrus Operator

In [12]:
a : int = 5
if(a<(b:=a+5)):
    print(b)
else:
    print('else is working')

10

Zen of Python 
should Read